<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Processor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" /> 

    <style>
        body {
            height: 100% !important;
            background: linear-gradient(to bottom, #e4eff2, #dcf1f8);
        }
        .video-container{
            position: relative;
            display: inline-block;
            border: 5px solid #000;
            margin-top: 20px;
            border-radius: 6px;
        }
        #map{
            border: 5px solid #000;
            border-radius: 6px;
        }
        .video-label {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: black;
            color: white;
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 5px;
        }
        li{
            margin-bottom: 10px;          
        }
    </style>
</head>
<body>
    {% load static %}

    <!-- Navbar Snippet -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="font-family: 'Pacifico', cursive; font-size: 30px;">Building Sorters</a>
      <div class="collapse navbar-collapse justify-content-end">
        <span class="navbar-text">
          fun little project
        </span>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col">
                <div class="video-container">
                    <video id="video" width="100%" controls>
                        <source src="{% static 'video1.mov' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="video-label">Drone Video<br><small>{{gps.lat}}° N, {{gps.lon}}° W</small></div>
                </div>

            </div>
            <div class="col-4">
              <div class=" border py-4 px-5" style="height: 100%; border-radius: 5px;">
                <h4>Multiple Use Cases</h4>
                <hr>
                <div class="form-group">
                  <label for="useCase">Sorting Parameters</label>
                  <select class="form-control" id="useCase" name="useCase">
                    <option value="emergencyResponse" selected>Emergency Response</option>
                    <option value="rebuilding">Rebuilding</option>
                  </select>
                </div>
                  
                <form id="emergencyResponseForm" method="POST">
                  {% csrf_token %}
                  <!-- Emergency Response Fields -->
                  <div id="emergencyResponseFields">
                    <!-- <div class="form-group">
                      <label for="numberOfTeams">Number of Teams</label>
                      <input type="number" class="form-control" id="numberOfTeams" name="numberOfTeams" min="0" value="1">
                    </div> -->
                    <p>Starting from</p>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="latitude">Latitude</label>
                          <input type="number" class="form-control" id="latitude" name="latitude" value="{{starting_point.lat}}" step="any">
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="longitude">Longitude</label>
                          <input type="number" class="form-control" id="longitude" name="longitude" value="{{starting_point.lon}}" step="any">
                        </div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="maxrange">Maximum Distance</label>
                            <div class="input-group">
                              <input type="number" class="form-control" id="maxrange" name="maxrange" value="{{maxrange}}" step="any">
                              <div class="input-group-append">
                                <span class="input-group-text">miles</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="mappoints">Points to Map</label>
                              <input type="number" class="form-control" id="mappoints" name="mappoints" value="{{mappoints}}" step="any">
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary" name="emergency">Submit</button>
                    </div>
                </form>
                  
                <form id="rebuilding">
                  <!-- Rebuilding Fields -->
                  <div id="rebuildingFields" style="display: none;">
                    <div class="form-group">
                      <label for="resourceEnoughFor">Resource Enough for</label>
                      <div class="input-group">
                        <input type="number" class="form-control" id="resourceEnoughFor" name="resourceEnoughFor" min="0">
                        <div class="input-group-append">
                          <span class="input-group-text">sq.ft.</span>
                        </div>
                      </div>
                    </div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary" name="rebuilding">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          <div class="col-3">
              <div class=" border py-4 px-5" style="height: 100%; border-radius: 5px;">
              <h4>Drone Simulation Settings</h4>
              <hr>
              <form method="post">
                {% csrf_token %}
                <!-- Display form errors -->
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <!-- Render form fields -->
                 <div class="row">
                  <div class="col">
                    <div class="form-group">
                        {{ form.starting_lat.label_tag }}
                        {{ form.starting_lat }}
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      {{ form.starting_lon.label_tag }}
                      {{ form.starting_lon }}
                    </div>
                  </div>
                 </div>
                <div class="form-group">
                    {{ form.speed_kmh.label_tag }}
                    {{ form.speed_kmh }}
                </div>
                <div class="form-group">
                    {{ form.direction.label_tag }}
                    {{ form.direction }}
                </div>
                <button type="submit" class="btn btn-primary" name="drone_simulation">Save</button>
            </form>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-5">
            <div id="map" style="height: 600px;"></div>
          </div>

          <div class="col-4">

            <div class=" border py-4 px-3" style="height: 100%; border-radius: 5px;">
              <h4>Image Snapshots</h4>
              <hr>
              <canvas id="canvas" width="640" style="display: none;"></canvas>
              <div id="snapshots" class="mt-3 ml-1 row">
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class=" border py-4 px-4" style="height: 100%; border-radius: 5px;">
              <div class="row">
                <div class="col">
                  <h4>Sorted Log</h4> 
                </div>
                <div class="col-auto px-0">
                  <button type="button" class="btn btn-sm btn-primary" onclick="getRoute()">Get Route</button>
                </div>
                <div class="col-auto">
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm btn-danger" name="clear_log">Clear Log</button>
                </form>
                </div>
              </div>
              <hr>
              <div style="height: 500px; overflow-y: auto;">
                <ol id="snapshot-list"></ol>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        </div>
        
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

   
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var sortedSnapshots = JSON.parse('{{ sorted_snapshot|escapejs  }}');
        displaySortedLog(sortedSnapshots);
      });

      // Define the function
      function displaySortedLog(sortedSnapshots) {
          var snapshotList = document.getElementById('snapshot-list');
          
          // Clear the snapshot list
          snapshotList.innerHTML = '';

          // Iterate over each snapshot and create list items
          sortedSnapshots.forEach(function(snapshot) {
                var listItem = document.createElement('li');
                listItem.innerHTML = 'GPS: ' + snapshot.gps[0] + ', ' + snapshot.gps[1]  + '<br> Damage: ' + snapshot.class + ', Size: ' + snapshot.size + '<br><b>' + 'Score: ' + snapshot.score + '</b>';
                
                // Color code based on damage class
                switch(snapshot.class) {
                  case 'NONE':
                    listItem.style.color = 'green';
                    break;
                  case 'MILD':
                    listItem.style.color = 'yellowgreen';
                    break;
                  case 'MODERATE':
                    listItem.style.color = 'orange';
                    break;
                  case 'SEVERE':
                    listItem.style.color = 'orangered';
                    break;
                  case 'CATASTROPHIC':
                    listItem.style.color = 'red';
                    break;
                  default:
                    listItem.style.color = 'black';
                }

                snapshotList.appendChild(listItem);

              var marker = L.marker([snapshot.gps[0], snapshot.gps[1]]).addTo(map)
                .bindPopup('<b>Damage:</b> ' + snapshot.class + '<br><b>Size:</b> ' + snapshot.size)
                .openPopup();
          }); 
      }
      
      const video = document.getElementById('video');
      const canvas = document.getElementById('canvas');
      const snapshotsDiv = document.getElementById('snapshots');
      const context = canvas.getContext('2d');
    
      video.addEventListener('play', () => {
        const interval = setInterval(() => {
          if (video.paused || video.ended) {
            clearInterval(interval);
            return;
          }
          const aspectRatio = video.videoWidth / video.videoHeight;
          canvas.width = 640; // Set the desired width
          canvas.height = canvas.width / aspectRatio; // Calculate the height based on the aspect ratio
    
          context.drawImage(video, 0, 0, canvas.width, canvas.height);
          const dataURL = canvas.toDataURL('image/png');
    
          // Get current video time
          const currentTime = video.currentTime;
    
          // Display snapshot to the user
          const img_container = document.createElement('div');
          img_container.className = 'col';
          const img = document.createElement('img');
          img.src = dataURL;
          img.style.width = '250px'; // Ensure the image fits within its container
          img_container.appendChild(img);
          snapshotsDiv.appendChild(img_container);
    
          // Send snapshot and time to the server
          fetch('/upload_snapshot/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: 'image=' + encodeURIComponent(dataURL) + '&time=' + encodeURIComponent(currentTime)
          })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'success') {
              // Display GPS coordinates
                const gpsInfo = document.createElement('p');
                gpsInfo.innerHTML = 'Damage: ' + data.class + '<br>';
                gpsInfo.innerHTML += 'Size: ' + data.size + '<br>';
                gpsInfo.innerHTML += 'GPS: (' + data.gps.lat.toFixed(6) + ', ' + data.gps.lon.toFixed(6) + ')';
                
                img_container.appendChild(gpsInfo);

                // Add a marker to the map at the GPS location
                var marker = L.marker([data.gps.lat, data.gps.lon]).addTo(map)
                .bindPopup('<b>Damage:</b> ' + data.class + '<br><b>Size:</b> ' + data.size)
                .openPopup();

                // Adjust the map view to the new marker
                // map.setView([data.gps.lat, data.gps.lon], 11.5); // Adjust zoom level as needed

                displaySortedLog(data.sorted_snapshot);
                
              // Remove the image and GPS info after 10 seconds
              setTimeout(() => {
                snapshotsDiv.removeChild(img_container);
              }, 14000);

            }
          });
    
        }, 4000); // Capture snapshot every 4 seconds
      });
    
      document.getElementById('useCase').addEventListener('change', function () {
        var useCase = this.value;
    
        // Hide all fields
        document.getElementById('emergencyResponseFields').style.display = 'none';
        document.getElementById('rebuildingFields').style.display = 'none';
    
        // Show fields based on selected use case
        if (useCase === 'emergencyResponse') {
          document.getElementById('emergencyResponseFields').style.display = 'block';
        } else {
          document.getElementById('rebuildingFields').style.display = 'block';
        }
      });
      var initialGps = JSON.parse('{{ initial_gps|escapejs }}');

      // Initialize the map and set its view to a default location and zoom level
      var map = L.map('map').setView([initialGps.lat, initialGps.lon], 14); // [latitude, longitude], zoom level

      // Add OpenStreetMap tiles as the map layer
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; OpenStreetMap contributors'
      }).addTo(map);

      L.circle(['{{starting_point.lat}}', '{{starting_point.lon}}'], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 150 // Adjust the radius as needed
    }).addTo(map);


    function getRoute() {
        // Prepare data to send
        var data = {};

        fetch('/get_route/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            // 'X-CSRFToken': getCookie('csrftoken') // Uncomment if CSRF token is required
          },
          body: data
        })
        .then(response => response.json())
        .then(data => {

          if (data.map_list) {
            // Plot the route on the map
            var latlngs = data.map_list; // An array of [lat, lon] arrays
            
            // Create a polyline from the GPS points
            var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
            
            // Zoom the map to fit the polyline
            map.fitBounds(polyline.getBounds());
            
            // Optionally, add markers at each point
            // latlngs.forEach(function(point) {
            //   L.marker(point).addTo(map);
            // });

            latlngs.forEach(function(point, index) {
              console.log(point, index);
              const numberedIcon = L.divIcon({
                  className: 'numbered-icon',
                  html: `<div style="text-align:center; font-size:12px; background-color:white; border:1px solid black; border-radius:50%; width:24px; height:24px; line-height:24px;">${index + 1}</div>`,
                  iconSize: [30, 30],
                  iconAnchor: [25, 25]
              });

              L.marker(point, { icon: numberedIcon }).addTo(map);
          });
          } else if (data.error) {
            console.error('Error:', data.error);
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      }

    </script>

    <!-- Leaflet JS -->
</body>
</html>
```